.tasks {
  display: flex;
  gap: 5%;

  @media (min-width: 1200px) {
    justify-content: center;
  }

  &__sidebar {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 10rem;
    flex: 1;
    gap: 2rem 0;
  }

  &__task-list {
    display: flex;
    align-items: center;
    min-height: 5rem;
    max-height: 8rem;
    gap: 1rem;
  }

  &__highlighter {
    display: inline-block;
    height: 100%;
    min-width: 0.5rem;
    background-color: #00b399;
  }

  &__icon-container {
    min-width: 3rem;
    display: flex;
    justify-content: center;
    flex-basis: 8rem;
  }

  &__task-category {
    font-weight: bold;
    font-size: 2rem;
  }

  &__task-icon {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__task-history {
    display: flex;
    align-items: center;
    min-height: 5rem;
    max-height: 8rem;
    gap: 1rem;
  }

  &__history-icon {
    width: object-fit;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__history-category {
    font-weight: bold;
    font-size: 30px;
  }

  //        TASK SECTION

  &__task {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 3 0 20rem;
    height: 70vh;
  }

  &__add-container {
    display: flex;
    display: hidden;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
  }

  // Add Task Section

  &__task-input {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    border: none;
    align-items: center;
    height: 4rem;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
    color: black;
    position: relative;
  }

  &__add-task {
    display: inline-block;
    position: relative;
    margin: -2.8rem;
    right: 5rem;
    cursor: pointer;
  }

  // Todo Lists Section

  &__todos {
    background-color: #e6e6e6;
    height: 100%;
    border-radius: 15px;
    padding: 1rem;
    overflow-y: scroll;
  }

  &__todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 4rem;
    border-radius: 15px;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
  }

  &__finished-tasks {
    display: none;

    @media (min-width: 576px) {
      display: block;
    }

    @media (min-width: 1200px) {
      width: 20vw;
    }
  }

  &__finished-tasks {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex-direction: column;
  }

  // Score Section

  &__score-title {
    font-weight: bold;
    font-size: 2rem;
  }

  &__score {
    font-weight: bold;
    font-size: 5rem;
  }

  &__reset-score {
    width: max-content;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f7e5c1;
  }
}
